#intro-page, #about-me, #work, #about-me2, #work2 { 
    height: 100vh;
    width: 100%; 
    max-width: 100%; 
    font-family: 'Josefin Sans', sans-serif; 
    color: black;
    box-sizing: border-box; 
    transition: all 0.7s ease-in-out;
}

body {
    overflow-x: hidden; 
    position: relative; 
}

p {
    margin-bottom: 0px !important; 
}

.bold {
    font-weight: bold !important; 
}

#intro-page {
    background-color: rgb(238, 238, 238); 
}

#intro-page.rotated {
    transform: translateX(-100%) rotateY(-180deg);
}

#about-me.rotated, #work.rotated {
    transform: translateX(100%) rotateY(180deg);
}

/* CSS properties for flexbox */
.row {
    display: flex; 
    flex-direction: row; 
    margin-left: 0px !important; 
    margin-right: 0px !important;
}

.column {
    display: flex; 
    flex-direction: column; 
}

/* home page row and column styling */
.logo-row, .introduction-row {
    justify-content: center; 
}

#my-name-row {
    text-align: center; 
    font-size: 33px; 
}

/* left and right sections of about me and projects page */
.left {
    width: 30%; 
    max-width: 30%; 
    height: 100vh; 
    max-height: 100%; 
    background-color: white;
    font-size: 50px; 
    position: fixed;
    justify-content: center; 
    vertical-align: middle; 
    align-content: center;  
    overflow-x: hidden; 
}

.right {
    width: 70%; 
    max-width: 70%;
    height: 100vh;  
    max-height: 100%; 
    background-color: rgb(238, 238, 238); 
    padding-left: 15px; 
    padding-right: 15px; 
    overflow-y: auto; 
    overflow-x: hidden; 
    margin-left: 30%;
    justify-content: center;  
    position: relative; 
}

#right-work {
    width: 70%; 
    max-width: 70%;
    height: auto;
    min-height: 100vh;  
    background-color: rgb(238, 238, 238); 
    padding-left: 15px; 
    padding-right: 15px; 
    overflow-y: auto; 
    overflow-x: hidden; 
    margin-left: 30%;
    justify-content: center;  
    position: relative; 
}


.left-menu-content {
    position: absolute; 
    top: 0; 
}

.scroll-row-content {
    position: absolute; 
    bottom: 0; 
    width: 100%; 
}

/* left section: row styling  */
.left-header-row, #propic-row, .contact-row {
    justify-content: center; 
    align-items: center; 
    text-align: center; 
} 

#propic-row {
    margin-top: 10%; 
}

.contact-row {
    margin-top: 10%; 
}

#contact-row-index {
    justify-content: center; 
    vertical-align: middle; 
}

/* right section: row styling */ 
.menu-row {
    font-size: 15px; 
    color: grey;
}


.menu-home, .menu-work, .menu-about {
    height: 40px; 
    width: 40px;
    text-align: center
}

.home-icon-label, .work-icon-label, .about-icon-label {
    justify-content: center;
    align-self: center; 
    align-content: center; 
    margin-left: 5px
}

.menu-home {
    background-color: rgb(80, 120, 165);
    color: white;
    margin-top: auto; 
}

.menu-work {
    background-color: rgb(151, 204, 135);
    color: black;
}

.menu-about {
    background-color: rgb(253, 240, 165)
}

#self-description1 {
    align-items: center; 
    font-size: 35px; 
}

#self-description2 {
    font-size: 25px; 
    margin-top: -5%; 
}

#self-description3 {
    font-size: 20px;
    width: 97%;
    overflow-wrap: break-word;  
    text-align: justify; 
    margin-top: 10%;
    font-family: 'Josefin Sans', sans-serif;
}

#self-description4 {
    margin-top: 7%;
    font-size: 25px;
    align-items: center
}

#codinghrs-col, #coffeecups-col {
    color: grey;
    width: 12%; 
    font-family: 'Roboto Slab', serif;
}

#coffee-icon, #coding-icon {
    width: 5%; 
}

#array {
    margin-top: 2%; 
}

/* projects row and column */
.tech-label-col {
    width: 100%; 
    margin-top: 3%; 
}
.tech-row1 {
    text-align: center; 
    justify-content: center; 
}
.tech-row {
    text-align: center; 
    justify-content: center; 
}

#work-label-row, #stack-label-row, #stack-row {
    text-align: center; 
    font-size: 20px; 
    justify-content: space-evenly
}

#stack-label-row {
    margin-bottom: 5%; 
    margin-top: -10%; 
}

#work-label-row {
    margin-top: 3%; 
    margin-bottom: 3%; 
}

#work-header-row {
    margin-top: 25%; 
}

#stack-row {
    color: grey;
    font-size: 15px; 
}

.tech-row {
    margin-top: 30px; 
    justify-content: center, 
}

.tech-label-col {
    align-self: center; 
    margin-left: 5%; 
}

#projects-row1 {
    justify-content: space-evenly; 
}

.stack-row {
    justify-content: center; 
    margin-top: 30px; 
}

.card {
    margin-top: 5%; 
}

@media (max-width: 1266px){
    .left-header-row {
        font-size: 40px; 
    }
    #propic {
        width: 270px;
    }
    #coffee-cups, #coding-hrs {
        font-size: 16px; 
    }
    .counter-icon {
        width: 30px; 
    }
}

@media (max-width: 1092px){
    .left-header-row {
        font-size: 35px; 
    }
    #propic {
        width: 250px;
    }
    #self-description1 {
        font-size: 30px; 
    }
    #self-description2{
        font-size: 20px; 
    }
    /* work media queries */
    .tech-icon {
    width: 35px; 
    }
}

@media (max-width: 928px){
    #propic {
        width: 230px;
    }
    #self-description1 {
        font-size: 25px; 
    }
    .left-header-row {
        font-size: 30px;
    }
    #description-name {
        font-size: 45px; 
    }
    #coffee-cups, #coding-hrs {
        font-size: 14px; 
    }
    .counter-icon {
        width: 25px; 
    }
    .contact-icon {
        width: 30px; 
    }
    .mail-icon {
        height: 27px; 
        width: 27px; 
    }
    /* work media queries */
    .tech-label-col {
        font-size: 12px; 
    }
    #stack-label-row {
        font-size: 16px; 
    }
    .tech-icon {
        width: 32px; 
    }
}


@media (max-width: 844px){
    #propic {
        width: 200px;
    }
    #self-description2{
        font-size: 18px; 
    }
    #self-description3{
        font-size: 17px; 
    }
    #coffee-cups, #coding-hrs {
        font-size: 12px; 
    }
    .counter-icon {
        width: 20px; 
    }
    #current, #move-count {
        width: 22px; 
    }
    #future {
        width: 29px; 
    }
    /* work media queries */
    .tech-label-col {
        font-size: 12px; 
    }
    #stack-label-row {
        font-size: 16px; 
    }
    .tech-icon {
        width: 30px; 
    }
}

@media (max-width: 768px){
    #propic {
        width: 170px;
    }
    .left-header-row {
        font-size: 25px;
    }
    #self-description1 {
        font-size: 20px; 
    }
    #array {
        font-size: 15px; 
    }
    #description-name {
        font-size: 40px; 
    }
    #coffee-cups, #coding-hrs {
        font-size: 10px; 
    }
    .counter-icon {
        width: 15px; 
    }
    .scroll-row-label {
        font-size: 12px; 
    }
    /* work media queries */
    .tech-label-col {
        font-size: 10px; 
    }
    #stack-label-row {
        font-size: 14px; 
    }
    .tech-icon {
        width: 28px; 
    }
}

@media (max-width: 640px){
    #propic {
        width: 140px;
    }
    .left-header-row {
        font-size: 20px;
    }
    #self-description1 {
        font-size: 15px; 
    }
    #array {
        font-size: 10px; 
    }
    #description-name {
        font-size: 35px; 
    }
    #self-description2{
        font-size: 16px; 
    }
    #self-description3{
        font-size: 14px; 
    }
    #coffee-cups, #coding-hrs {
        font-size: 10px; 
    }
    .counter-icon {
        width: 10px; 
    }
    .scroll-row-label {
        font-size: 10px; 
    }
}

@media (max-width: 600px){
#cubez {
    display: none; 
}

#myName-column{
    display: none; 
}

#cube-replace {
    display: unset !important;
    text-align: center; 
    font-size: 30px; 
    margin-top: 30%; 
}

#contact-row-index {
    margin-top: 10% !important; 
}
@media (max-width: 530px){
    .left {
        flex-direction: row; 
        height: 30vh; 
        width: 100%; 
        max-width: 100%;
        overflow: hidden; 
        z-index: 1; 
    }
    .right {
        flex-direction: row; 
        height: 70vh;
        width: 100%; 
        max-width: 100%;
        margin-left: 0px; 
        margin-top: 30vh; 
        overflow: scroll;
        text-align: center; 
    }
    #right-work{
        flex-direction: row;
        width: 100%; 
        height: 70vh;
        max-width: 100%;
        margin-left: 0px; 
        overflow: scroll;
        text-align: center; 
    }

    #stack-label-row {
        margin-top: 8%; 
    }

    #self-description1 {
        margin-top: 20%; 
    }

    #self-description2 {
        margin-top: 10%; 
    }

    .column {
        display: initial;
    }

    .cube {
        display: flex; 
    }

    .right2 {
        margin-top: 0px; 
        padding-top: 30vh; 
        height: 100vh; 
    }

    #work-header-row, #propic-row {
        margin-top: 3%; 
    }

    .contact-row, a {
        margin-top: 2%; 
        height: 2%;
    }

    p {
        margin-bottom: 0px; 
    }

    #propic {
        width: 15%; 
    }

    #about-me2 {
        margin-top: 0px; 
    }

    #work-label-row, .left-header-row {
        margin-top: 4%;
    }

    .contact-icon{
        width: 25px; 
    }

    .mail-icon{
        width: 22px;
        height: 22px;
    }

    #chat2, #chat3 {
        font-size: 10px;
        height: 5%;  
    }

    #chat1 {
        margin-top: -10%; 
    }
    
    .tech-icon {
        width: 20px; 
    }
    .home-icon-label, .work-icon-label, .about-icon-label {
        font-size: 12px; 
    }
}
@media (max-width: 415px){
    #my-name-row {
        font-size: 26px; 
    }
}

@media (max-width: 400px){
    #stack-label-row{
        font-size: 12px; 
    }
}

@media (max-width: 370px){
    #stack-label-row{
        font-size: 10px; 
    }
    .left-header-row, #work-header-row {
        font-size: 17px; 
    }
    #self-description1{
        font-size: 12px; 
    }
    #description-name {
        font-size: 22px; 
    }
    #self-description2{
        font-size: 12px; 
    }
    #self-description3{
        font-size: 11px; 
    }
    .tech-icon {
        width: 16px; 
    }
    .tech-label-col {
        font-size: 8px; 
    }
    .contact-icon{
        width: 20px; 
    }

    .mail-icon{
        width: 17px;
        height: 17px;
    }

}






