#intro-page, #about-me, #work, #about-me2, #work2 { 
    height: 100vh;
    width: 100vw; 
    font-family: 'Josefin Sans', sans-serif; 
    color: black;
    box-sizing: border-box; 
    transition: all 0.7s ease-in-out;
}

#intro-page {
    background-color: rgb(238, 238, 238); 
}

#intro-page.rotated {
    transform: translateX(-100%) rotateY(-180deg);
}

#about-me.rotated, #work.rotated {
    transform: translateX(100%) rotateY(180deg);
}

/* CSS properties for flexbox */
.row {
    display: flex; 
    flex-direction: row; 
}

.column {
    display: flex; 
    flex-direction: column; 
}

/* home page row and column styling */
.logo-row, .introduction-row {
    justify-content: center; 
}

#my-name-row {
    text-align: center; 
    font-size: 33px; 
}

/* left and right sections of about me and projects page */
.left {
    width: 30%; 
    height: 100vh; 
    background-color: white;
    font-size: 50px; 
    position: fixed;
    justify-content: center; 
    vertical-align: middle; 
    align-content: center;  
}

.right {
    width: 70%;
    height: 100vh;  
    background-color: rgb(238, 238, 238); 
    padding-left: 15px; 
    padding-right: 15px; 
    overflow-y: auto; 
    margin-left: 30%;
    justify-content: center;  
    position: relative; 
}


.left-menu-content {
    position: absolute; 
    top: 0; 
}

.scroll-row-content {
    position: absolute; 
    bottom: 0; 
    width: 100%; 
}

/* left section: row styling  */
.left-header-row, #propic-row, .contact-row {
    justify-content: center; 
    align-items: center; 
    text-align: center; 
} 

#propic-row {
    margin-top: 10%; 
}

.contact-row {
    margin-top: 10%; 
}

#contact-row-index {
    justify-content: center; 
    vertical-align: middle; 
}

/* right section: row styling */ 
.menu-row {
    font-size: 15px; 
    color: grey;
}


.menu-home, .menu-work, .menu-about {
    height: 40px; 
    width: 40px;
    text-align: center
}

.home-icon-label, .work-icon-label, .about-icon-label {
    justify-content: center;
    margin-left: 5px
}

.menu-home {
    background-color: rgb(80, 120, 165);
    color: white;
    margin-top: auto; 
}

.menu-work {
    background-color: rgb(151, 204, 135);
    color: black;
}

.menu-about {
    background-color: rgb(253, 240, 165)
}

#self-description1 {
    align-items: center; 
    font-size: 35px; 
}

#self-description2 {
    font-size: 25px; 
    margin-top: -5%; 
}

#self-description3 {
    font-size: 20px;
    width: 85%;
    overflow-wrap: break-word;  
    text-align: justify; 
    margin-top: 10%;
    font-family: 'Josefin Sans', sans-serif;
}

#self-description4 {
    margin-top: 7%;
    font-size: 25px;
    align-items: center
}

#codinghrs-col, #coffeecups-col {
    color: grey;
    width: 12%; 
    font-family: 'Roboto Slab', serif;
}

#coffee-icon, #coding-icon {
    width: 5%; 
}

#array {
    margin-top: 2%; 
}




/* projects row and column */
#work-label-row, #stack-label-row, #stack-row {
    text-align: center; 
    font-size: 20px; 
    justify-content: space-evenly
}

#stack-label-row, #work-label-row {
    margin-bottom: 5%; 
}

#work-header-row {
    margin-top: 25%; 
}

#stack-row {
    color: grey;
    font-size: 15px; 
}

.tech-row {
    margin-top: 30px; 
    justify-content: center, 
}

.tech-label-col {
    justify-content: center;
    margin-left: 10px
}

#projects-row1 {
    height: 30%;
    justify-content: space-evenly; 
}

#projects-row2 {
    height: 30%; 
    margin-top: 10px; 
    justify-content: space-evenly;
}

.project {
    width: 300px; 
    height: 175px; 
}

.project-subtitle {
    text-align: center; 
    width: 100%; 
}

.stack-row {
    justify-content: center; 
    margin-top: 30px; 
}

@media (max-width: 1266px){
    .left-header-row {
        font-size: 40px; 
    }
    #propic {
        width: 270px;
    }
    #coffee-cups, #coding-hrs {
        font-size: 16px; 
    }
    .counter-icon {
        width: 30px; 
    }
}

@media (max-width: 1092px){
    .left-header-row {
        font-size: 35px; 
    }
    #propic {
        width: 250px;
    }
    #self-description1 {
        font-size: 30px; 
    }
    #self-description2{
        font-size: 20px; 
    }
}

@media (max-width: 928px){
    #propic {
        width: 230px;
    }
    #self-description1 {
        font-size: 25px; 
    }
    .left-header-row {
        font-size: 30px;
    }
    #description-name {
        font-size: 45px; 
    }
    #coffee-cups, #coding-hrs {
        font-size: 14px; 
    }
    .counter-icon {
        width: 25px; 
    }
    .contact-icon {
        width: 30px; 
    }
    .mail-icon {
        height: 27px; 
        width: 27px; 
    }
}


@media (max-width: 844px){
    #propic {
        width: 200px;
    }
    #self-description2{
        font-size: 18px; 
    }
    #self-description3{
        font-size: 17px; 
    }
    #coffee-cups, #coding-hrs {
        font-size: 12px; 
    }
    .counter-icon {
        width: 20px; 
    }
    #current, #move-count {
        width: 22px; 
    }
    #future {
        width: 29px; 
    }
}

@media (max-width: 768px){
    #propic {
        width: 170px;
    }
    .left-header-row {
        font-size: 25px;
    }
    #self-description1 {
        font-size: 20px; 
    }
    #array {
        font-size: 15px; 
    }
    #description-name {
        font-size: 40px; 
    }
    #coffee-cups, #coding-hrs {
        font-size: 10px; 
    }
    .counter-icon {
        width: 15px; 
    }
    .scroll-row-label {
        font-size: 12px; 
    }
}

@media (max-width: 640px){
    #propic {
        width: 165px;
    }
    .left-header-row {
        font-size: 20px;
    }
    #self-description1 {
        font-size: 15px; 
    }
    #array {
        font-size: 10px; 
    }
    #description-name {
        font-size: 35px; 
    }
    #self-description2{
        font-size: 16px; 
    }
    #self-description3{
        font-size: 14px; 
    }
    #coffee-cups, #coding-hrs {
        font-size: 10px; 
    }
    .counter-icon {
        width: 10px; 
    }
    .scroll-row-label {
        font-size: 10px; 
    }
}






